/* TABLES
----------------------------------------------------------*/

table { margin: 0 auto; }

thead {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

th,
td { 
	padding: 5px 10px;
	vertical-align: middle;
}
td input { 
	vertical-align: middle;
}

table form input, table form textarea, table form button {
	margin: 0;
}