@model IEnumerable<ActionLinkModel>
<section id="sysadmin">
    @foreach (ActionLinkModel action in Model)
    {
        <div>
            <a href="@action.Url">@Resource.String(action.ResourceKey)</a>
        </div>
    }
</section>