# Build Folders
sql
bin
obj

# mstest test results
TestResults

# ReSharper cache
_ReSharper*

# local environment configuration files
*.suo
*.user
desktop.ini

# db project files
*.dbmdl