<appSettings>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="log4net.Internal.Debug" value="false" />

  <add key="Debug.RequestLog" value="false" />
  <add key="Debug.IgnoreMinification" value="true" />

  <add key="Site.Home" value="http://bruttijji.mo/" />

  <add key="OutgoingEmail.Address" value="nicolasbevacqua@gmail.com" />
  <add key="OutgoingEmail.DisplayName" value="Bruttissimo Mailing Services" />
  <add key="OutgoingEmail.Timeout" value="10000" />

  <add key="Social.FacebookAppId" value="273159699394960" />
  <add key="Social.FacebookAppSecret" value="8f547ed3eb0e8b9cbdf5304d7b19c1cf" />
  <add key="Social.FacebookAccessToken"
       value="AAAD4bZCLZAcZAABAIMbMrYt7hEekEnZAn92wfFXpxNfn4PFkYl76romoN605BuFv5GUPy81BwUUcShoKZC9hdTwI4uenNZCq5XQZA20tZAIVNgZDZD" />
  <add key="Social.FacebookFeedId" value="181282708550211" />	<!-- Bruttissimo feed -->

  <add key="Social.TwitterAppId" value="8bcnVN5LSBLjWpjh6tCOg" />
  <add key="Social.TwitterAppSecret" value="yDHW0HqBeIPnVVLrRK4hORQ2kQOFqBsbuEu8OqRgyZo" />
</appSettings>