@import "functions.less";
@dark_color: #504D4D;
@med_color: #009999;
@light_color: #66C2C2;

@border_color: #504D4D;
@layout_color: #E8E5D5;


@color_1: #9D2F2D;
@color_2: #F9EA99;
@color_3: #7DB6D5;
@color_4: #E7A555;
@color_5: #4A4747;
@color_6: #504D4D;
@color_7: #E8E5D5;

@title_color: @color_1;
@dark_bg_and_border: @color_6;
@light_bg: @color_7;

@button_border: @color_6;
@button_bg: #B3AC93;
@button_bg_hover: @color_2;
@button_text: @color_6;

@input_border: @color_1;
@input_bg: @color_6;
@input_text: @color_4;
 
@error_text: #B25C58;
@error_back: #CEA89E;
@error_border: #9D2F2D;

/* DEFAULTS
----------------------------------------------------------*/

body {
	background-color: #fff;
    font-size: 1.25em; /* default font-size to 1em => 20px */
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}



/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
}



/* HTML ELEMENTS
----------------------------------------------------------*/

hr {
    background-color: @dark_color;
    color: @dark_color;
}

blockquote {
    background-color: #ffe5ff;
}

pre, code {
    background-color: #ffdaff;
}

input, textarea {
    border: 1px solid @input_border;
	color: @input_text;
	background-color: @input_bg;
}
input:disabled, textarea:disabled {
    border: 1px dashed @input_border;
}
input:focus, textarea:focus {
    border: 1px solid @dark_color;
}



/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

header#layout-header {
    background-color: @layout_color;
	color: @title_color;
	text-shadow: 1px 1px 25px @title_color;
	border-left: 2px @dark_bg_and_border solid;
	border-right: 2px @dark_bg_and_border solid;
}

section#layout-content {
    background-color: @layout_color;
    border: 2px solid @border_color;
}

footer#inline-footer {
    background-color: @layout_color;
}



/* SITE MENU   
----------------------------------------------------------*/

nav#menu {
    background-color: @dark_bg_and_border;
}

nav#menu ol li a,
nav#menu ol li a:visited,
nav#menu ol li a:active {
    background-color: @button_bg;
    border: 1px @button_border solid;
    color: @button_text;
}

nav#menu ol li a:hover {
    background-color: @button_bg_hover;
}



/* DIALOGS
----------------------------------------------------------*/

.dialog.notification {
	.box_shadow(2px 2px 5px #440000);
    color: #fff;
}

.dialog.notification.notification-error {
    background-color: @error_back;
	border: 2px solid @error_border;
}

.dialog.notification.notification-message {
    background-color: #FF8C00;
	border: 2px solid #CC8C00;	
}



/* MISC  
----------------------------------------------------------*/

.info {
    color: @error_text;
    font-weight: bold;
}

.warning {
    color: @error_text;
}

label.warning {
    padding-left: 5px;
}

.ui-state-error {
    background: none repeat scroll 0 0 #FFE0E0;
}

noscript .noscript-notice {
	font-weight: bold;
	font-size: 1.1em;
	background-color: @error_back;
	color: @dark_color;
}



/* FOOTER
----------------------------------------------------------*/

footer#inline-footer {
    border:2px solid @border_color;
}
