<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Debug.RequestLog" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Debug.IgnoreMinification" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Site.Analytics" value="true" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Site.Home" value="http://bruttissi.mo/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Site.Port" value="80" xdt:Transform="Insert" />

    <add key="OutgoingEmail.Address" value="nicolasbevacqua@gmail.com" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Social.FacebookAppId" value="273159699394960" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Social.FacebookAppSecret" value="8f547ed3eb0e8b9cbdf5304d7b19c1cf" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Social.FacebookAccessToken" value="AAAD4bZCLZAcZAABAIMbMrYt7hEekEnZAn92wfFXpxNfn4PFkYl76romoN605BuFv5GUPy81BwUUcShoKZC9hdTwI4uenNZCq5XQZA20tZAIVNgZDZD" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Social.FacebookFeedId" value="181282708550211" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Social.TwitterAppId" value="z0Jcmt5IbTBF6OD6DrGhVg" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Social.TwitterAppSecret" value="nQERDP3z5uJAwhd3MWMyFfICxoAb6eFPDiZ94UWZ3o0" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Social.TwitterAccessToken" value="829454035-FbJIKGc9s8Q9yryCsI9T6jrqNGzbnQxq3kwXux5W" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Social.TwitterAccessTokenSecret" value="JpgkgDxdUX7Ihjhm0gHPAkuBVu9ohwNaZ2wHgpubk" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>