<appSettings>
  <add key="OutgoingEmail.Address" value="nicolasbevacqua@gmail.com" />
  <add key="OutgoingEmail.DisplayName" value="Bruttissimo Integration Tests" />

  <add key="Site.Home" value="http://bruttijji.mo/" />

  <add key="Social.FacebookAccessToken"
       value="AAAD4bZCLZAcZAABAIMbMrYt7hEekEnZAn92wfFXpxNfn4PFkYl76romoN605BuFv5GUPy81BwUUcShoKZC9hdTwI4uenNZCq5XQZA20tZAIVNgZDZD" />
  <add key="Social.FacebookFeedId" value="387053964687690" /> <!-- test feed -->
</appSettings>