<appSettings>
  <add key="OutgoingEmail.Address" value="nicolasbevacqua@gmail.com" />
  <add key="OutgoingEmail.DisplayName" value="Bruttissimo Integration Tests" />

  <add key="Site.Home" value="http://bruttijji.mo/" />

  <add key="Social.FacebookAccessToken" value="AAAD4bZCLZAcZAABAIMbMrYt7hEekEnZAn92wfFXpxNfn4PFkYl76romoN605BuFv5GUPy81BwUUcShoKZC9hdTwI4uenNZCq5XQZA20tZAIVNgZDZD" />
  <add key="Social.FacebookFeedId" value="387053964687690" /> <!-- test feed -->
  
  <add key="Social.TwitterAppId" value="roUNT1nguvcNJGM9G6wnw" />
  <add key="Social.TwitterAppSecret" value="pRVg9GdJoWN5GqHxxiXEYPgJnlNcz9gjndyu6VSLI" />
  <add key="Social.TwitterAccessToken" value="829454035-IW0V0MZLyiplN5vARuVBFiTvb3ondDuJmIb1MtHY" />
  <add key="Social.TwitterAccessTokenSecret" value="gbaOE893nuv3efG9DoqpLBW9Go5fefDf1RfDUH0f0I" />
</appSettings>