<connectionStrings>
  <add name="SqlConnection"
       connectionString="Data Source=.\microserver;Initial Catalog=bruttissimo;Integrated Security=True" />
  <add name="SqlConnectionTest"
       connectionString="Data Source=.\microserver;Initial Catalog=bruttissimo;Integrated Security=True" />
</connectionStrings>