<connectionStrings>
  <add name="lognet"
       connectionString="Data Source=.\microserver;Initial Catalog=bruttissimo_debug;Integrated Security=True" />
  <add name="SqlConnection"
       connectionString="Data Source=.\microserver;Initial Catalog=bruttissimo_debug;Integrated Security=True" />
  <add name="SqlConnectionTest"
       connectionString="Data Source=.\microserver;Initial Catalog=bruttissimo_debug;Integrated Security=True" />
</connectionStrings>