/* CREATE A POST VIEW LAYOUT
----------------------------------------------------------*/

section.create-post {
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    padding-left: 12px;
}

article.post-preview { margin-top: 20px; }

article.post-preview h1 { font-size: 1.3em; }

article.post-preview h1 { font-size: 1.3em; }

@media only screen and (min-width: 768px) {
    section.create-post {
        max-width: 400px;
        padding-left: 20px;
    }
}