@if (Context.User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("Logout", "User")">@Resource.String("Logout", Context.User.Identity.Name)</a>
}
else
{
    <a href="@Url.Action("Login", "User")">@Resource.String("Login")</a>
}